
@media screen and (min-width: 1124px) 
{

.container{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
}

.container_informações{
    background-color: var(--cor-princiapl);
    padding: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.container_informações_titulo{
    margin-bottom: 45%;
    margin-top: 10%;
}
.container__botao{
    display: none;
}

.cabecalho_menu_botao{
 display: none;
}

.lista-menu{
    display: flex;
    flex-direction: column;
}

.info_conteudo_texto{
    text-decoration: none;
    color: var(--cor-fonte);
    margin: 30% 0% 15% 0;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
}

.container_conteudo{
    padding: 3%;
    background-color: rgb(48, 48, 48);
    align-items: normal;
}
.container_titulo{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding: 0em;
    margin: 0em;
    box-shadow: none;
    background-color:rgb(48, 48, 48);
    border-radius: none;
    
}

.container_conteudo_quadrado{
    margin-top: 11%;
    display:flex;
    justify-content: space-around;
    font-size: 1.5em;
    background:transparent;
    border-radius: 20px;
    box-shadow: 0px 9px 15px 5px rgb(20, 20, 20);
    height: 20em;
}

.conteudo_box{
    display: block;
    margin-top: 2.5em;
    width: 10em;
    height: 10em;
    clip-path: polygon();
    background-color: var(--cor-quadrado);
    text-align: center;
    padding: 1em;
    padding-top: 4em;
    box-shadow: 0px 10px 10px rgb(12, 12, 12);
    border-radius: 20px;
}

.shadowboxMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: none;
    box-shadow: none;
    padding: 0em;
}

.ObjetoTrancado{
    padding: 0em ;
    margin-bottom: 0em;
    font-size: 24px;
}

.checkbox{
    margin-top: 15%;
}
.inlineblock {
    justify-content: center;
    margin-top: 12%;
    font-size: 20px;
    display: flex;
    border-radius: none;
    box-shadow: none;
    
}
.paragrafo_inline_espacamento{
    margin-right: 4px;
    margin-left: 4px;
}
}